<!DOCTYPE html>
<html>
<head>
    <title>Express App with EJS</title>
</head>
<body>
    <h1>Welcome to Express App with EJS</h1>
    <p>This is the homepage of the application.</p>
    <a href="/cats/fact">Get a cat fact</a>
</body>
</html>
